body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    text-shadow: darkred;
}

.avatar {
    width: 150px;
    border: 3px groove black;
    border-radius: 5px;

    
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #E3D8F1;
    color: #2b2839;
    border-bottom: 5px groove blue;
    border-left: 5px groove blue;
    border-top: 5px groove blue;
    border-right: 5px groove blue;
    border-radius: 10px;
    box-shadow: darkgoldenrod;
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

